<!--
# Alex Luo
# TummyAKE
# SoftDev
# K18: Serving Looks
# 2024-10-16
# time spent: 0.3 hours
-->

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='mimic.css') }}">
<title>Foo Bar H One</title>
</head>

<body>
<h1>h1 foo</h1>

<nav class = "side">
    <h3> nav food </h3>
    <ul>
        <li> dis </li>
        <li> dat </li>
        <li> de udda ting </li>
    </ul>
</nav>

<div>

<h2>main foo heading</h2>
<p>Lorem ipsum odor amet, consectetuer adipiscing elit. Sapien a mollis phasellus habitasse, facilisis molestie efficitur. Diam iaculis a porttitor ornare sem primis sem? Convallis mauris massa nunc leo enim mauris sagittis montes. Aptent accumsan finibus gravida augue et. Viverra sapien nunc dui; vestibulum lectus aliquam. Mollis et vulputate dolor egestas ligula natoque. Magnis tristique dignissim sollicitudin purus mus himenaeos integer.</p>

<p>Vulputate non tristique platea fames fames varius venenatis fusce. Tempor pulvinar aliquam ad aliquet nisi sapien ligula. Integer nisi morbi tortor magna ultrices suspendisse. Nulla blandit himenaeos neque vehicula maximus habitant ac molestie. Vitae dictum habitant neque nibh ac platea morbi? Etiam vitae vestibulum platea augue nunc phasellus volutpat est sodales. Tincidunt himenaeos natoque elementum eleifend rhoncus gravida orci. Nunc mattis in mi euismod phasellus auctor. Hendrerit risus euismod etiam libero fermentum inceptos adipiscing velit.</p>

</div>

</body>

<footer> Copyright @ 2024 TummyAKE</footer>

</html> 
