/*
# Alex Luo
# TummyAKE
# SoftDev
# K18: Serving Looks
# 2024-10-16
# time spent: 0.3 hours
*/

h1 {
    color: #FFFFFF;
    background-color: #d7d7d7;
    text-align: center;
}

body {
    font-family: Arial;
    background-color: #868686;
    text-align: justify;
}

ul{
    list-style: none;
    text-align: left;
    padding-left: 0px;
}

li {
    color: #FFFFFF;
    font-weight: bold;
}

p {
    padding-left: 250px;
}

h2 {
    padding-left: 250px;
    margin-top: -115px;
}

footer {
    background-color:#595858;
    color: #d7d7d7;
    text-align: right;
}
