<!--
  # Java (Alex, Jonathan)
  # SoftDev
  # K35: Now Again for the First Time
  # time spent: 4 hours
 -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>Register</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
 </head>
 <body>
     <nav>
         <div class="navbar">
             <a href="{{ url_for('home') }}">Home</a>
             <a href="{{ url_for('login') }}">Login</a>
         </div>
     </nav>
     <div class="container">
         <h1>Register</h1>
         <form method="post" class="form">
             <label for="username">Username:</label>
             <input type="text" id="username" name="username" required>
             
             <label for="password">Password:</label>
             <input type="password" id="password" name="password" required>
             
             <button type="submit" class="btn">Register</button>
         </form>
     </div>
 </body>
 </html>